*{ 
    padding: 0%;
    margin: 0%;
}

nav a {
    display: flex;
    text-align: center;
}
.contenido  {
    height: 80%;
    width: 80%;
    text-align: justify;
    background-color: blue;
}
.contenido p {
    font-weight: bold;
    display: flex;
}
footer {
    background-color: black;
}
footer h2 {
    color: white;
}
